@{
    ViewBag.Title = "Toplantı Başvuru";
    Layout = "_Layout2";
}
<h1 class="h4">@ViewData["Selamlama"] @ViewData["UserName"]</h1>
<h2>Toplantı katılım durumunuzu bildiriniz.</h2>
<a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru Yap</a>